<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Daraz</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body >
  <div id="product_id">
    <div>
      <h1 style="text-align: center">Daraz</h1>
    </div>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-capitalize"  v-for="(item, index) in category" :key="index" @click="catWise(item)" href="#">{{item}}</a>
  
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </div>
    <hr />
    <div class="container" >
      <div class="row" v-if="show">
        <div class="card-deck card col-4" v-for="item in products" :key="item" id="products">
          <div class="">
            <img style="height: 220px; width: 220px" class="card-img-top" :src="item.image" alt="Card image cap" />
            <div class="card-body">
              <a @click="single_product(item.id)" href="#">
                <h5 class="card-title" >{{ item.title }}</h5>
              </a>
              <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer">
              <strong>Price : {{item.price}}</strong><br />
              <small class="text-muted">Rating : {{item.rating.rate}}</small>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row" ">
        single product
      </div> -->
    </div>
    <!-- single product -->
    <div class="container card" v-if="!show">
      <img style="height: 400px;width: 400px;" class="card-img-top" v-bind:src="single_product_show.image" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{single_product_show.title}}</h5>
        <p class="card-text">{{single_product_show.description}}</p>
      </div>
      <div class="card-footer">
        <strong>Price :{{single_product_show.price}}</strong><br>
        <small class="text-muted">Rating :{{single_product_show.rating.rate}}</small>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="all_product_api.js"></script>
<script src="navbar.js"></script>

</html>